body{
    background-color: hsl(228,11%,9%);
    display: block;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-card{
    background-color: hsl(215,22%,15%);
    width: 15em;
    height: 15em;
    border-radius: 15%;
    position: absolute;
}
.circle-icon{
    border-radius:50% ;
    background-color: hsl(215,22%,21%);
    padding: 1em;


}
.rating{
    display: flex;
    justify-content: space-between;
    padding-left: 1em ;
    padding-right: 1em;
    
}